html,
body,
#root {
    height: 100%;
    margin: 0;
}

.admin-dashboard {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.welcome-back-admin {
    flex: 1;
    min-width: 0;
    min-height: 0;

    height: 100vh;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
    overflow-x: hidden;
}

.welcome-back-admin .container {
    margin: 0;
    padding: 0;
}

.welcome-back-admin .container.text-con {
    display: flex;
    justify-content: space-between;
}

.welcome-back-admin .container.text-con a {
    height: 40px;
}

.welcome-back-admin .row .col {
    min-width: 150px;
}

.welcome-back-admin .card {
    width: 300px;
    border-radius: 0.375rem;
}

.welcome-back-admin .table-con {
    border-radius: 0.375rem;
    overflow: hidden;
    flex-shrink: 0;
    padding-bottom: 20px;
}

.modal-dialog{
    max-width: none;
}